

.chocolate_carousel{
    display: flex;
    overflow: auto;
    width: 100%;
    margin-bottom: 40px;
    gap: 10px;
    padding: 10px;
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: orange #f2f2f2; /* Color de la barra y del thumb */
    align-items: center;
}

.chocolate_carousel--center{
    justify-content: center;
}


.card img{
    width: 80px;
    height: 70px;
    opacity: 0.5;
}

.card{
    gap: 10px;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px gray;
    position: relative;
    transition: 0.2s;
}


.card:hover{
    transform: translateY(-10px);
}