@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.contentMain {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headerChocolate{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    color: orange;
}

.headerChocolate div{
    text-align: center;
}

.headerChocolate div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.headerChocolate div h1{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.chocolate_name{
    text-align: center;
    display: inline;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
    font-style: normal;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.bj{
    transition: 0.3s;
}

.iconHeader{
   height: 35px;
   width: 35px;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;

}
.iconHeader:hover{
    background-color: orange;
    border-radius: 100%;
}
